[access]
	inheritFrom = All-Projects
[project]
	description = Router as a Service
[access "refs/*"]
	owner = group user/Or Idgar (oridgar)
[access "refs/for/refs/*"]
	read = group user/Or Idgar (oridgar)
	push = group user/Or Idgar (oridgar)
	label-Code-Review = -2..+2 group user/Or Idgar (oridgar)
	label-Verified = -1..+1 group user/Or Idgar (oridgar)
	rebase = group user/Or Idgar (oridgar)
	removeReviewer = group user/Or Idgar (oridgar)
	submit = group user/Or Idgar (oridgar)
[access "refs/heads/*"]
	read = group user/Or Idgar (oridgar)
	create = group user/Or Idgar (oridgar)
	push = +force group user/Or Idgar (oridgar)
	pushMerge = group user/Or Idgar (oridgar)
[access "refs/tags/*"]
	push = group user/Or Idgar (oridgar)
	push = +force group user/Or Idgar (oridgar)
